
@model bool
<span id="active">
    @if (Model == true)
    {
        @Html.Encode("Current Employee")
    }
</span>
<span id="inactive">
    @if (Model == false)
    {
        @Html.Encode("Previous Employee")
    }

</span>
    <style>
        #active {
            background-color: forestgreen;
            border-block-style: groove;
            border-radius: 20%;
        }
        #inactive {
            background-color: firebrick;
            border-block-style: groove;
            border-radius: 20%;
        }
    </style>