@model System.DateTimeOffset?

<span>
    @(Model.HasValue ? Model.Value.LocalDateTime.ToString("d") : "-")
</span>


@*attempt at using datepicker*@
@*<div class="editor-label">
    @Html.Label("")
</div>
    <div class="editor-field">
        @Html.TextBox("", String.Format("{0:MM/dd/yyyy}", (Model == DateTime.MinValue) ? null : Model), new { @class = "text" })
    </div>

    <script type="text/javascript">
    $(document).ready(function () {
        $("#@ViewData.ModelMetadata.PropertyName").datepicker({
            changeMonth: true,
            changeYear: true,
            dateFormat: 'mm/dd/yy',
            gotoCurrent: true
        });
    });
    </script>*@
