@{
    ViewBag.Title = "About Me!";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Check out the source code for this app<a href="https://github.com/Brian-1150/CRM#readme"> HERE!</a></p>
<p>Prior to my programming career I ran several cleaning businesses and wished I had this software.</p>
