@{
    ViewBag.Title = "Contact";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<address>
    My Home Address<br />
    Indpls, IN 46250<br />
    <abbr title="Phone">P:</abbr>
    317.123.456
</address>

<address>
    <strong>Support:</strong>   <a href="mailto:bpcampassi@gmail.com">email</a><br />
    
</address>