@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Small Business CRM App</h1>
    <p class="lead">Search</p>
    <p><a href="google.com" class="btn btn-primary btn-lg">Learn more &raquo;</a></p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Testimonials</h2>
        <p>
            See who is using this app for their business!
        </p>
        <p><a class="btn btn-default" href="cleanforyoullc.com">Learn more &raquo;</a></p>
    </div>
    
</div>