@{
    ViewBag.Title = "Home Page";
}
<head>
    <style>
        body {
            background-color: powderblue;
            color: cadetblue;
        }

        .wrapper {
            
            min-height: calc(80vh - 10px);
        }

        footer {
            height: 10px;
            color: brown;
        }
        .push{
            margin: 10%;
        }
    </style>
</head>
<div class="wrapper">
<div class="jumbotron" style="background-color: #92856c; border-radius: 50%; color: black; margin-top: 5%;">
    <h1 style="text-align: center;">Small Business CRM App</h1>

    <p><a href="/Home/About" class="btn btn-primary btn-lg center-block" style=" max-width: max-content">Learn more &raquo;</a></p>
</div>

<div class="row push">
    <div class="col-md-4">
        <h2>Testimonials</h2>
        <p>
            See who is using this app for their business!
        </p>
        <p><a class="btn btn-default" href="http://www.cleanforyoullc.com">Learn more &raquo;</a></p>
    </div>
</div>
</div>